{% extends "layout.html" %}
{% block content %}
    <div class="card-body">
        <a href="/mlb/new" class="card-link btn btn-primary">Add New Player</a>
    </div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Player's Name</th>
        <th scope="col">Team</th>
        <th scope="col">Position</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    {% for subMLB in mlb %}
    <tr>
        <td><a href="view/{{subMLB.id}}">{{ subMLB.fldName }}</a></td>
        <td>{{ subMLB.fldTeam }}</td>
        <td>{{ subMLB.fldPosition }}</td>
        <td>{{ subMLB.fldHeight_inches }}</td>
        <td>{{ subMLB.fldWeight_lbs }}</td>
        <td>{{ subMLB.fldAge }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}