{% extends "layout.html" %}
{% block content %}
<form action="/mlb/new" method="POST">
           <div class="card-body">
            <h2 class="card-title">Add New Player</h2>
    </div>
    <div class="row">

        <div class="col">
            <label for="fldName">Player Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="Player Name" name="fldName">
        </div>
        <div class="col">
            <label for="fldTeam">Team</label>
            <input id="fldTeam" type="text" class="form-control" placeholder="Team"
                   name="fldTeam">
        </div>
        <div class="col">
            <label for="fldPosition">Position</label>
            <input id="fldPosition" type="text" class="form-control" placeholder="Position" name="fldPosition">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldHeight_inches">Height</label>
            <input id="fldHeight_inches" type="text" class="form-control" placeholder="Height" name="fldHeight_inches">
        </div>
        <div class="col">
            <label for="fldWeight_lbs">Weight</label>
            <input id="fldWeight_lbs" type="text" class="form-control" placeholder="Weight" name="fldWeight_lbs">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldAge">Age</label>

            <input id="fldAge" type="text" class="form-control" placeholder="age"
                   name="fldAge">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}

